@media (min-width: 768px) {
  .two-column {
    grid-template-columns: 1.05fr 0.95fr;
  }

  .reverse-mobile {
    grid-template-columns: 0.95fr 1.05fr;
  }
}

@media (min-width: 1120px) {
  .nav-toggle {
    display: none;
  }
}
